*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#bfbfbf; /* light grey background like image */
}

/* NAVBAR */
.navbar{
    background:#777;   /* grey bar */
    padding:20px 0;
    text-align:center;
    position:relative;
}

/* Hide checkbox */
#menu-toggle{
    display:none;
}

/* NAV LINKS - DESKTOP */
.nav-links{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:40px;
}

.nav-links li a{
    text-decoration:none;
    color:white;
    font-size:13px;
    letter-spacing:1px;
}

/* Hamburger */
.hamburger{
    display:none;
    font-size:28px;
    color:white;
    cursor:pointer;
    position:absolute;
    right:20px;
    top:15px;
}

/* Close Button */
.close-btn{
    display:none;
    font-size:25px;
    color:white;
    cursor:pointer;
    margin-bottom:20px;
}

/* ===================== */
/* MOBILE BELOW 800px */
/* ===================== */

@media(max-width:800px){

    .nav-links{
        position:fixed;
        top:0;
        left:-100%;
        height:100%;
        width:250px;
        background:#777;
        flex-direction:column;
        align-items:center;
        padding-top:60px;
        gap:30px;
        transition:0.4s;
    }

    .hamburger{
        display:block;
    }

    /* Slide menu */
    #menu-toggle:checked ~ .nav-links{
        left:0;
    }

    /* Show close button */
    #menu-toggle:checked ~ .nav-links .close-btn{
        display:block;
        position:absolute;
        top:20px;
        right:20px;
    }

}
